version: '3.8'
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - ConnectionStrings__DefaultConnection=Host=postgres;Database=creditosdb;Username=postgres;Password=postgres
      - KAFKA__BootstrapServers=127.0.0.1:9092
      - ASPNETCORE_URLS=http://+:5000
